In [3]:
budget = 50
cprice = 3.75
coffee_bought=0
while budget>=3.75:
    budget -= 3.75
    coffee_bought+=1

print('we can afford', coffee_bought)

we can afford 13

In [1]:
while True:
    number = input('Enter a number (or type \'quit\' :)')
    if number =='quit':
        break
    print(int(number)**2)

Enter a number (or type 'quit' :) 465

216225

Enter a number (or type 'quit' :) 7

49

Enter a number (or type 'quit' :) quit

In [3]:
text = 'how are you today'

#use print can only search once, use yield can find all indexes
def search(text, char):
    for index in range(0, len(text)):
        if text[index]==char:
            yield index

for index in search(text, 'a'):
    print(index)

4
15

In [7]:
#remove the word
text.replace('a', '')

'how re you tody'

In [11]:
city = [['sml','bg'],['crazy','happy'],['lazy','fast']]

In [15]:
#string multiply is just duplicate
for a in city:
    print(a*2)

['sml', 'bg', 'sml', 'bg']
['crazy', 'happy', 'crazy', 'happy']
['lazy', 'fast', 'lazy', 'fast']

In [16]:
orders = [2,8,3,6]

In [21]:
l = [1,2,3,4]
prices=[]
price=3.75
for index in range(0, len(l)):
    v = l[index]
    cost = v*price
    l[index]=cost

l

[3.75, 7.5, 11.25, 15.0]

In [41]:
#put two list together

a = [8,2,3]
b = [3,4,5]
c=a+b 
c

[8, 2, 3, 3, 4, 5]

In [25]:
#multiply b is just duplicate list
b*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [29]:
#pay attention taht a+b is concate two list
sum(a)+sum(b)
sum(a+b) #a+b is a list now

25

In [42]:
#reverse the list
c[::-1]

[5, 4, 3, 3, 2, 8]

In [43]:
#sort the list 
c.sort()
c

[2, 3, 3, 4, 5, 8]

In [44]:
#remove the certain index in the list
c.pop(0)
c

[3, 3, 4, 5, 8]

In [45]:
#remove using the elements from the list, not index anymore
c.remove(3)

In [46]:
c

[3, 4, 5, 8]

In [49]:
val = 7
if val in c:
    c.remove(val)
    print('removed!')
else:
    print('it\'s not there')

it's not there

In [50]:
#create list from the text. pay attention that space will be also included
text = 'python 3 '
l = list(text)
l

['p', 'y', 't', 'h', 'o', 'n', ' ', '3', ' ']

In [51]:
#replace a value into list with certain position
l[3]='--'
l

['p', 'y', 't', '--', 'o', 'n', ' ', '3', ' ']

In [53]:
newtext = ''.join(l)
newtext

'pyt--on 3 '

In [54]:
#insert a new value into certain position
l.insert(0, 'new')
l

['new', 'p', 'y', 't', '--', 'o', 'n', ' ', '3', ' ']

In [56]:
# set is a collection data type, unordered, no duplicated, mutable
l = [1,2,3,4,3,2,3,4,5,6,3,423,4,23,2,3,4,5]
set(l)

{1, 2, 3, 4, 5, 6, 23, 423}

In [57]:
list(set(l))

[1, 2, 3, 4, 5, 6, 423, 23]

In [60]:
s = set(l)
s.add('more')
s
#if you want to add duplicated thing, it wouldnt be added in the end

{1, 2, 23, 3, 4, 423, 5, 6, 'more'}

In [61]:
s.remove(1)
s

{2, 23, 3, 4, 423, 5, 6, 'more'}

In [65]:
if 2 in s:
    print('yes')

yes

In [68]:
text1 = 'good morining!'
text2 = 'good afternoon'

s1 = set(text1)
s2 = set(text2)

In [70]:
print(s1)
print(s2)

{'r', ' ', 'm', 'n', 'd', '!', 'i', 'g', 'o'}
{'r', ' ', 'n', 'd', 'f', 'e', 't', 'g', 'o', 'a'}

In [72]:
s1-s2    #what in s1 but not in s2

{'!', 'i', 'm'}

In [73]:
def has_duplicate(word):
    if len(word)>len(set(word)):
        return True
    return false

has_duplicate('sksdkjj')

True

In [75]:
s1.intersection(s2)

{' ', 'd', 'g', 'n', 'o', 'r'}

In [76]:
s1.union(s2)

{' ', '!', 'a', 'd', 'e', 'f', 'g', 'i', 'm', 'n', 'o', 'r', 't'}

In [78]:
#union only contain non-duplicated elements
set(s1.union(s2))

{' ', '!', 'a', 'd', 'e', 'f', 'g', 'i', 'm', 'n', 'o', 'r', 't'}

In [81]:
vowels={'a','e','i','o','u'}
word = 'iisi'
s = set(word)
s.issubset(vowels)

#if all elements in word are also in vowels, then we can say that word is the subset of vowels

False

In [84]:
l = [18,15,12,22]
mydict={}
mydict['london']=18
mydict['birmingham']=15

In [85]:
mydict

{'london': 18, 'birmingham': 15}

In [86]:
'london' in mydict

True

In [88]:
15 in mydict

False

In [89]:
15 in mydict.values()

True

In [95]:
text = 'london is a city city is london london'

def count_words(text):
    words = text.split()
    wordcounts = {}
    for word in words:
        #have to initialize first
        if word not in wordcounts:
            wordcounts[word]=0
        wordcounts[word] += 1
    return wordcounts

wordcounts = count_words(text)

In [96]:
wordcounts

{'london': 3, 'is': 2, 'a': 1, 'city': 2}

In [97]:
wordcounts['city']

2

In [102]:
for x in wordcounts.keys():
    print(x)

for x in wordcounts:
    print(x)

london
is
a
city
london
is
a
city

In [99]:
for x in wordcounts.items():    #it generates tuples
    print(x)

('london', 3)
('is', 2)
('a', 1)
('city', 2)

In [100]:
for x in wordcounts.values():
    print(x)

3
2
1
2

In [103]:
for key,value in wordcounts.items():
    print( key , value)

london 3
is 2
a 1
city 2

In [107]:
sorted_keys = sorted(wordcounts, key=wordcounts.get)

# xxx.get will allow you fetch the values in the dict
sorted_keys

['a', 'is', 'city', 'london']

In [114]:
# sort

l = [2,3,5,2,3,4,1]
see=sorted(l)

d = {'as':91,'df':34, 'll':53}
sorted(d.values())
sorted(d, key=d.get)  #sort, show the keys, but sort according to the values

['df', 'll', 'as']

In [115]:
for key in sorted_keys:
    print(key, wordcounts[key])

a 1
is 2
city 2
london 3

ZIP

In [120]:
l1 = ['london','birgn','livepo']
l2=[19,29,42]

for index in range(len(l1)):
    v1 = l1[index]
    v2 = l2[index]
    print(v1,v2)

print('---')

for v1, v2 in zip(l1,l2):
    print(v1,v2)

print('---')

temp = {}
for v1, v2 in zip(l1, l2):
    temp[v1]=v2

print(temp)

london 19
birgn 29
livepo 42
---
london 19
birgn 29
livepo 42
---
{'london': 19, 'birgn': 29, 'livepo': 42}