# Practice exercises \#1

1. Suppose we are going to buy 75 copies of the 'Think Python' book. Each copy costs £27.65. Because of the large size of our order, we have been offered a 20% discount on the total cost of the books. On top of that, we need to add the shipping costs, which is £0.95 for each of the first 10 books, and £0.45 for each of the remainder of the books. Calculate the total cost of our order.

In [13]:
each = 27.65
num = 75
shipping = 0.95 * 10 + 0.45 * (num-10)
total = num * each * 0.8 + shipping
total

1697.75

2. Sarah has completed a marathon in 9,752 seconds. Break down the time into hours, minutes and seconds.

In [12]:
seconds = 9752
hours = int(seconds/60/60)
minutes = int((seconds - hours*3600)/60)
s = seconds - hours*3600 - minutes*60

print(f" she run {hours} hours, {minutes} minutes and {s} seconds")

 she run 2 hours, 42 minutes and 32 seconds

3. Four athletes (A, B, C, D) make up a team competing in 4x100m relay, i.e. an athletics track run where four runners run 100m each after each other. Each of the team members runs at the following average speeds:
- A: 9.10 m/s
- B: 9.25 m/s
- C: 9.05 m/s
- D: 9.45 m/s

How long will it take for them to complete the 400 metres?

For the purposes of this exercise, assume the above are average speeds throughout their entire run, i.e. ignore the fact that speed may be slower at the start and when transferring the baton, for example.

In [7]:
A = 9.10
B = 9.25 
C = 9.05
D = 9.45
ls = [9.10,9.25,9.05,9.45]
total = 0
for i in range(4):
    t = 100/ls[i]
    total += t

total

43.43155613873846

4. A coffee shop offers every 5th coffee within a single purchase for free. That is:
- if you buy 5 coffees, you pay 4.
- if you buy 10 coffees, you pay 8.
- if you buy 9 coffees, you pay 8 (you only qualify for 1 free coffee).

For a purchase order of 37 coffees, at £3.75 a coffee, how much do we need to pay after applying the above discounts?

In [15]:
each_price = 3.75
num = 37
total = 0

discount = num//5
total = (num-discount)*each_price
print(total)

112.5

# Practice exercises \#2

1. The factorial of a number **n** is defined as **n!** and is calculated as: **n! = n \* (n-1)!**. For example, the factorial of **4** is **4 \* 3!**, then **3! = 3 * 2!**, etc. until we reach 1. Therefore, **4! = 4 \* 3 \* 2 \* 1**. Using the python that we've learnt so far, write the python code that calculates the factorials for all values between 20 and 25, i.e. 20!, 21!, 22!, 23!, 24! and 25!.

In [20]:
def factorial(n):
    if n ==1 or n==0:
        return 1
    elif n >=2:
        return n*factorial(n-1)
        
print(factorial(20))
print(factorial(21))
print(factorial(22))
print(factorial(23))
print(factorial(24))
print(factorial(25))

2432902008176640000
51090942171709440000
1124000727777607680000
25852016738884976640000
620448401733239439360000
15511210043330985984000000

2. Filling the gas tank of your car costs you £50. The owner of a gas station tells you that, every time you fill the tank with them, you will get it £1 cheaper, up to a bottom limit of £40. That is, you'll pay £50 the first time, £49 the second, ..., and £40 the 11th time and subsequently. If you fill your tank 25 times with them, how much have you paid them on aggregate?

In [22]:
times=25
total = 0
for i in range(times):
    if i <11:
        price = 50-i
    else:
        price = 40
    total+=price

print(total)

1055

3. Normally, you drive your car at 70 mph while on a motorway, at 60 mph on A-roads, 50 mph on B-roads and 30 mph while in the city. However, if you're tired, you drive 10% slower (regardless of the type of road). Given the following two variables as input, write the set of if statements that outputs the relevant speed:
* roadtype, which is a string that can be 'motorway', 'a-road', 'b-road' or 'city'
* tired, which is a boolean

In [ ]:
rt = input('roadtype:  ')
tired = input('are you tired?:  ')

if rt == 'motorway'

4. Using **for** loops, produce the following triangle as an output (there are 9 lines where each line has as many stars as the line number they are in):

**\***

**\* \***

**\* \* \***

**\* \* \* \***

**\* \* \* \* \***

**\* \* \* \* \* \***

**\* \* \* \* \* \* \***

**\* \* \* \* \* \* \* \***

**\* \* \* \* \* \* \* \* \***

**Hint:** using *print('something')* adds a line break after your text, whereas you can use *print('something', end='')* to avoid this line break being added.

# Practice exercises \#3

1. Let's revisit the exercise from the first lecture, with a little twist (previously, we ordered 75 copies of the book, now we want this to be a variable n_books):

Suppose we are going to buy **N copies** of the 'Think Python' book. Each copy costs �27.65. If we order at least 25 copies, we are offered a 20% discount on the total cost of the books. On top of that, we need to add the shipping costs, which is �0.95 for the first 10 books, and �0.45 for the remainder of the books. Calculate the total cost of our order for an order of a given number of books **n_books**.

Write a function **total_cost()** that takes **n_books** as an input parameter and returns the total cost of the order.

2. The Fibonacci sequence is a sequence in which each number is the sum of the two preceding ones. The first two numbers in the sequence are (typically) 0 and 1, where the sequence is:

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,...

The n-th Fibonacci is the number in the n position of the sequence, i.e. fibonacci(0) = 0, fibonacci(1) = 1, ..., fibonacci(6) = 8, etc.

Knowing this, define a function **fibonacci()** that takes the **n** value as input, and outputs the corresponding fibonacci value.

3. Let's revisit an earlier exercise:

A coffee shop offers every 5th coffee within a single purchase for free. That is:
- if you buy 5 coffees, you pay 4.
- if you buy 10 coffees, you pay 8.
- if you buy 9 coffees, you pay 8 (you only qualify for 1 free coffee).

At �3.75 a coffee, how much do we need to pay after applying the above discounts for an order of **n_coffees** coffees?

Implement a function that calculates this cost.

4. We have implemented the following code that calculates the square values of numbers from 1 to 10. Improve the readability and usability of this code by using what we've learnt so far.

In [20]:
n = 1
print(n ** 2)
n = 2
print(n ** 2)
n = 3
print(n ** 2)
n = 4
print(n ** 2)
n = 5
print(n ** 2)
n = 6
print(n ** 2)
n = 7
print(n ** 2)
n = 8
print(n ** 2)
n = 9
print(n ** 2)
n = 10
print(n ** 2)

1
4
9
16
25
36
49
64
81
100

Type your improved version here:

5. Implement a function **get_max()**, which takes an argument of variable length as input, and outputs the largest of the values provided as input parameters. You can assume that the input values provided are all positive values.

6. Implement a function **get_even_values()**, which takes an argument of variable length as input, and outputs the subset of the input parameters which are even values.

# Practice exercises \#4

In [2]:
text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

For exercises 1-3 where a string is expected as input, you can use the text above as an example.

1. Given a string as input, modify it such that all vowels (a, e, i, o, u) are uppercased and all consonants are lowercased.

### string is not muttable, you can only do : newstring = oldstring + slice[]. OR newstring = list[].join()

In [12]:
newtext=''

for i in text:
    if i in ['a', 'e', 'i', 'o', 'u']:
        newtext += i.upper()
    else:
        newtext += i

newtext

'LOrEm IpsUm dOlOr sIt AmEt, cOnsEctEtUr AdIpIscIng ElIt, sEd dO EIUsmOd tEmpOr IncIdIdUnt Ut lAbOrE Et dOlOrE mAgnA AlIqUA. Ut EnIm Ad mInIm vEnIAm, qUIs nOstrUd ExErcItAtIOn UllAmcO lAbOrIs nIsI Ut AlIqUIp Ex EA cOmmOdO cOnsEqUAt. DUIs AUtE IrUrE dOlOr In rEprEhEndErIt In vOlUptAtE vElIt EssE cIllUm dOlOrE EU fUgIAt nUllA pArIAtUr. ExcEptEUr sInt OccAEcAt cUpIdAtAt nOn prOIdEnt, sUnt In cUlpA qUI OffIcIA dEsErUnt mOllIt AnIm Id Est lAbOrUm.'

2. Given a string as input, modify it such that all words are capitalised (i.e. first character of each word uppercased and the rest lowercased)

In [28]:
li = text.split()
new_li = []
for word in li:
    new_w = word[0].upper() + word[1:]
    new_li.append(new_w)

new_text = ' '.join(new_li)
new_text

'Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip Ex Ea Commodo Consequat. Duis Aute Irure Dolor In Reprehenderit In Voluptate Velit Esse Cillum Dolore Eu Fugiat Nulla Pariatur. Excepteur Sint Occaecat Cupidatat Non Proident, Sunt In Culpa Qui Officia Deserunt Mollit Anim Id Est Laborum.'

3. Given a string as input, count the number of word occurrences for each word length from 1 to 15, i.e. how many words have a length of 1, how many have a length of 2, etc.

4. An abecedarian word is one where its letters are alphabetically sorted, two consecutive letters can be repeated but never go backwards in the alphabet. Examples include accent, almost or effort. Implement a function **is_abecedarian()** which, given a word as input, returns True or False depending on whether it is or not abecedarian. You may want to lowercase the input string to avoid complications.

5. We have a string made of numbers only. Write a function that determines (True / False output) if the string is fully made of odd numbers, e.g. 1793 = True, but 1875 = False.

6. Given a string as input, write a function is_palindrome() that determines if the string in question is a palindrome, i.e. a string that reads the same backwards as forwards. For example, the words 'level' and 'madam' are palindromes.

7. Modify the is_palindrome() function above so that it can also determine if a longer sentence (not just a word) is a palindrome, ignoring any spaces in the sentence. For example, 'was it a car or a cat i saw' is an example of a palindrome sentence.

# Practice exercises \#5

1. Write a function called cumsum that takes a list of numbers and returns the cumulative sum; that is, a new list where the i^th^ element is the sum of the first i + 1 elements from the original list. For example: for the list [1, 2, 3, 4, 5], the output would be [1, 3, 6, 10, 15].

2. Write a function called is_sorted() that takes a list as a parameter and returns True if the list is sorted and False otherwise. The function will have two parameters, is_sorted(l, ascending):
* l will be the list.
* ascending which will be a boolean variable: if it's True, the function will check if values are sorted in ascending order; if it's False, it will check if values are sorted in descending order.

Note: equal numbers are considered sorted, i.e. [1, 5, 5, 7] is sorted in ascending order.

3. Given a sentence or a collection of words as input, find the pair of words within the sentence that have most common characters between them (or one of the top pairs if there is a tie). For example, in the sequence, 'chocolate tower vanilla motorway cinnamon', the word pair with most common characters between them is 'tower - motorway' (4 common characters). Note: duplicate characters don't count, i.e. the letter 'a' is only counted once in 'vanilla'.

The full calculation for the above example would be:
* chocolate - tower: 3 common characters
* chocolate - vanilla: 2
* chocolate - motorway: 3
* chocolate - cinnamon: 3
* tower - vanilla: 0
* tower - motorway: 4
* tower - cinnamon: 1
* vanilla - motorway: 1
* vanilla - cinnamon: 3
* motorway - cinnamon: 3

4. We are given two lists, l1 and l2, as input. We can assume that both l1 and l2 contain numeric values only and are sorted. Write a function combine_sorted() that combines the values of lists l1 and l2 into a new list, l3, where values are sorted.

e.g. for:
- l1 = [4, 5, 9, 12, 18]
- l2 = [2, 6, 8, 13, 20]

the output will be l3 = [2, 4, 5, 6, 8, 9, 12, 13, 18, 20]

5. Write a function permutation_list(), which takes three characters as input, and produces a list with all possible permutations of those three characters without repeating any characters.

e.g. permutation_list('a', 'b', 'c') should produce a list with:
- 'abc'
- 'acb'
- 'bac'
- 'bca'
- 'cab'
- 'cba'

6. Given a list as input, create a new list with the items that have at least a duplicate.

e.g. from a = [1, 2, 3, 1, 1, 4, 7, 7], the output would be dup = [1, 7]

# Practice exercises \#6

1. Given two dictionaries as input, produce the list of keys present in both dictionaries, i.e. the intersection of keys across two dictionaries.

You may use the following dictionaries to test your code:

```
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2 = {'c': 1, 'd': 2, 'e': 3, 'f': 4}
```

2. Suppose we are given a dictionary where the keys are words and the values indicate their count or frequency. We want to write a function that inverts this dictionary, i.e. creates a new dictionary where the key is (a string version of) a count, and the value is a list of words that have that frequency.

You may test your function using the following dictionary:

```
wordfreqs = {'word1': 1, 'word2': 2, 'word3': 3, 'word4': 1, 'word5': 1, 'word6': 2, 'word7': 4, 'word8': 4}
```

The expected output for the above example would be:

```
{'1': ['word1', 'word4', 'word5'], '2': ['word2', 'word6'], '3': ['word3'], '4': ['word7', 'word8']}
```

3. Having two lists as input, l1 and l2, create a dictionary where the keys are the values from l1 and the values are those from l2.

For example, if the lists are:

```
l1 = ['k1', 'k2', 'k3', 'k4', 'k5']
l2 = [5, 10, 15, 20, 25]
```

Then the output dictionary would be:

```
{'k1': 5, 'k2': 10, 'k3': 15, 'k4': 20, 'k5': 25}
```

4. Given a particular value as input, find all the keys in a dictionary that match that value.

For example, given the dictionary:

```
mydict = {'a': 5, 'b': 10, 'c': 5, 'd': 25, 'e': 20, 'f': 5}
```

And the value 5 as the one to match, the output would be the keys: 'a', 'c' and 'f'

5. Given a list of words, e.g.:

```
words = ['about', 'and', 'at', 'to', 'two', 'ten', 'tone']
```

Create a dictionary with the count of occurrences based on the first letter of the words, i.e.:

```
counts = {'a': 3, 't': 4}
```

# Practice exercises \#7

For the following exercises, you will use the text file with the Oliver Twist book, which you can download from https://gutenberg.org/cache/epub/730/pg730.txt and load it as a file, or alternatively access it through an HTTP request, as you prefer.

**Note:** For this set of exercises, you should remove all the punctuation prior to processing the text. To do this, you can use the following, where *text* is the variable where you want to remove the punctuation:

```
import string

translator = str.maketrans('', '', string.punctuation)
text.translate(translator)
```

The following questions refer to the text of this book:

1. Count the number of words (of any length) that only contain letters within the a-g range in the alphabet.

2. What is the most frequent of all the words that match the above criterion of only using letters within the range a-g?

3. How many lines of the book have at least a number in them?

For the following exercise, you will use the text file with the Romeo and Juliet book (in addition to the Olivier Twist book which you've already downloaded). You can get the text of Romeo and Juliet from https://gutenberg.org/cache/epub/1513/pg1513.txt (again feel free to download it or access it through HTTP request).

4. With these two books, after lowercasing and stripping punctuation, identify the number of words that are used in both books, as well as the number of words that are exclusive to each book. You should count each word only once, regardless of its number of occurrences within a book.

For the following exercises, you will use a dataset comprising food hygiene ratings pertaining to over 600k businesses across the UK. This is a real dataset obtained from the UK's Food Standards Agency, where each business is rated with a score from 0 (urgent improvement necessary) to 5 (very good). The dataset is provided in json format, in a file called 'food-hygiene-ratings.json'. Each entry in the dataset contains a business which, in addition to the hygiene rating score, provides information on the business type, its address, its local authority, etc.

The following questions are to be answered by using this dataset:

5. If we group businesses by their local authority area (the 'LocalAuthorityName' field), what is the area with lower average rating across all its businesses?

6. The 'RatingDate' indicates the date in which the Food Standards Agency last inspected a business. Using the information in this field for all businesses, produce a ranking of the months where the Food Standards Agency conducts its inspection (ranked from most to least).

# Practice exercises \#8

For the following exercises, you will use a dataset comprising food hygiene ratings pertaining to over 600k businesses across the UK. This is a real dataset obtained from the UK's Food Standards Agency, where each business is rated with a score from 0 (urgent improvement necessary) to 5 (very good). The dataset is provided in json format, in a file called 'food-hygiene-ratings.json'. Each entry in the dataset contains a business which, in addition to the hygiene rating score, provides information on the business type, its address, its local authority, etc.

The following questions are to be answered by using this dataset:

1. Create a new python class structure FHR which contains information from the food hygiene ratings dataset. The class will contain the following attributes:
* **local_authorities**: a dictionary of local authorities, where the key is 'LocalAuthorityCode' and the value is 'LocalAuthorityName'.
* **businesses**, which contains a list of businesses, where each of the businesses has the following fields:
    * **business name** (from the field 'BusinessName')
    * **local authority** (from the field 'LocalAuthorityCode')
    * **rating** (from the field 'RatingValue')
    * **rating date** (from the field 'RatingDate')

The class should have three methods:
* add_local_authority(), which will add a new local authority to *local_authorities* or update an existing entry.
* add_business(), which will add a new business to *businesses* or update an existing entry
* get_businesses_by_rating(), which takes a rating value and local authority ID as input and produces the list of businesses with that rating as the output.

2. Using the class structure above, create an instance (object of this class), and populate it with all the information from the dataset, using the add_local_authority() and add_business() methods.

3. Using the get_businesses_by_rating() method, print the list of businesses in Buckinghamshire (LocalAuthorityCode = "021") with a rating of 0.

# Practice exercises \#9

1. We have two lists of values, l1 and l2, which are both of the same size n. We want to create a new list l3 which will contain n values, and where the value in index i of l3 is the multiplication of l1[i] and l2[i]. We have written the following code attempting to do this. Write an improved version that reduces its complexity.

In [ ]:
# Original
import time

stime = time.time()
n = 15000

l1 = [v for v in range(n)]
l2 = [v for v in range(n)]

l3 = []

index1 = 0
for v1 in l1:
    index2 = 0
    for v2 in l2:
        if index1 == index2:
            l3.append(v1 * v2)
        index2 += 1
    index1 += 1

etime = time.time()
    
print('Took', str(etime - stime), 'seconds.')

In [ ]:
# You may write your answer here