# Practice exercises \#2 with answers

1. The factorial of a number **n** is defined as **n!** and is calculated as: **n! = n \* (n-1)!**. For example, the factorial of **4** is **4 \* 3!**, then **3! = 3 * 2!**, etc. until we reach 1. Therefore, **4! = 4 \* 3 \* 2 \* 1**. Using the python that we've learnt so far, write the python code that calculates the factorials for all values between 20 and 25, i.e. 20!, 21!, 22!, 23!, 24! and 25!.

In [1]:
for n in range(20, 26):
    factorial = 1
    num = n
    while num > 0:
        factorial *= num
        num -= 1
        
    print(n, '! = ', factorial)

20 ! =  2432902008176640000
21 ! =  51090942171709440000
22 ! =  1124000727777607680000
23 ! =  25852016738884976640000
24 ! =  620448401733239439360000
25 ! =  15511210043330985984000000

2. Filling the gas tank of your car costs you £50. The owner of a gas station tells you that, every time you fill the tank with them, you will get it £1 cheaper, up to a bottom limit of £40. That is, you'll pay £50 the first time, £49 the second, ..., and £40 the 11th time and subsequently. If you fill your tank 25 times with them, how much have you paid them on aggregate?

In [32]:
price = 50
filled = 0
totalcost = 0

while filled < 25:
    totalcost += price
    filled += 1
    if price > 40:
        price -= 1

print('Total cost after filling tank 25 times: £', totalcost)

Total cost after filling tank 25 times: £ 1055

3. Normally, you drive your car at 70 mph while on a motorway, at 60 mph on A-roads, 50 mph on B-roads and 30 mph while in the city. However, if you're tired, you drive 10% slower (regardless of the type of road). Given the following two variables as input, write the set of if statements that outputs the relevant speed:
* roadtype, which is a string that can be 'motorway', 'a-road', 'b-road' or 'city'
* tired, which is a boolean

In [33]:
roadtype = 'a-road'
tired = True

speed = 0
if roadtype == 'motorway':
    speed = 70
elif roadtype == 'a-road':
    speed = 60
elif roadtype == 'b-road':
    speed = 50
elif roadtype == 'city':
    speed = 30
    
if tired == True:
    speed *= 0.9
    
print('Your speed is:', speed)

Your speed is: 54.0

4. Using **for** loops, produce the following triangle as an output (there are 9 lines where each line has as many stars as the line number they are in):

**\***

**\* \***

**\* \* \***

**\* \* \* \***

**\* \* \* \* \***

**\* \* \* \* \* \***

**\* \* \* \* \* \* \***

**\* \* \* \* \* \* \* \***

**\* \* \* \* \* \* \* \* \***

**Hint:** using *print('something')* adds a line break after your text, whereas you can use *print('something', end='')* to avoid this line break being added.

In [35]:
# option 1
for i in range(1, 10):
    for j in range(1, i):
        print('*', end='')
    print('')

*
**
***
****
*****
******
*******
********

In [1]:
# option 2
for i in range(1, 10):
    print(i * '*')

*
**
***
****
*****
******
*******
********
*********