# Practice exercises \#3 with answers

1. Let's revisit the exercise from the first lecture, with a little twist (previously, we ordered 75 copies of the book, now we want this to be a variable n_books):

Suppose we are going to buy **N copies** of the 'Think Python' book. Each copy costs £27.65. If we order at least 25 copies, we are offered a 20% discount on the total cost of the books. On top of that, we need to add the shipping costs, which is £0.95 for the first 10 books, and £0.45 for the remainder of the books. Calculate the total cost of our order for an order of a given number of books **n_books**.

Write a function **total_cost()** that takes **n_books** as an input parameter and returns the total cost of the order.

In [4]:
def total_cost(n_books):
    book_cost = n_books * 27.65
    
    if n_books >= 25:
        book_cost *= 0.8
        
    shipping_cost = 0
    if n_books <= 10:
        shipping_cost = n_books * 0.95
    else:
        shipping_cost = 10 * 0.95 + (n_books - 10) * 0.45
        
    return book_cost + shipping_cost

total_cost(15)

426.5

2. The Fibonacci sequence is a sequence in which each number is the sum of the two preceding ones. The first two numbers in the sequence are (typically) 0 and 1, where the sequence is:

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,...

The n-th Fibonacci is the number in the n position of the sequence, i.e. fibonacci(0) = 0, fibonacci(1) = 1, ..., fibonacci(6) = 8, etc.

Knowing this, define a function **fibonacci()** that takes the **n** value as input, and outputs the corresponding fibonacci value.

In [2]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(6)

8

3. Let's revisit an earlier exercise:

A coffee shop offers every 5th coffee within a single purchase for free. That is:
- if you buy 5 coffees, you pay 4.
- if you buy 10 coffees, you pay 8.
- if you buy 9 coffees, you pay 8 (you only qualify for 1 free coffee).

At £3.75 a coffee, how much do we need to pay after applying the above discounts for an order of **n_coffees** coffees?

Implement a function that calculates this cost.

In [19]:
def coffee_cost(n_coffees):
    coffee_price = 3.75
    
    free_coffees = n_coffees // 5
    
    return (n_coffees - free_coffees) * coffee_price

print(coffee_cost(10))

30.0

4. We have implemented the following code that calculates the square values of numbers from 1 to 10. Improve the readability and usability of this code by using what we've learnt so far.

In [20]:
n = 1
print(n ** 2)
n = 2
print(n ** 2)
n = 3
print(n ** 2)
n = 4
print(n ** 2)
n = 5
print(n ** 2)
n = 6
print(n ** 2)
n = 7
print(n ** 2)
n = 8
print(n ** 2)
n = 9
print(n ** 2)
n = 10
print(n ** 2)

1
4
9
16
25
36
49
64
81
100

Type your improved version here:

In [24]:
def sq(n):
    return n ** 2

for n in range(1, 11):
    print(sq(n))
    
# Note: given how simple the sq() function is and that it is only used once in our code,
# it doesn't make a big difference to have the sq() function or to directly implement n**2 within the loop

1
4
9
16
25
36
49
64
81
100

5. Implement a function **get_max()**, which takes an argument of variable length as input, and outputs the largest of the values provided as input parameters. You can assume that the input values provided are all positive values.

**NB: You may ignore this as we haven't seen it in the lectures. We will be seeing a different solution to this when we work with lists.**

In [4]:
# option 1:
def get_max(*args):
    maxvalue = 0
    for value in args:
        if value > maxvalue:
            maxvalue = value
    return value

get_max(7, 15, 20, 25)

25

In [5]:
# option 2:
def get_max(*args):
    return max(args)

get_max(7, 15, 20, 25)

25

6. Implement a function **get_even_values()**, which takes an argument of variable length as input, and outputs the subset of the input parameters which are even values.

**NB: You may ignore this as we haven't seen it in the lectures. We will be seeing a different solution to this when we work with lists.**

In [7]:
def get_even_values(*args):
    for value in args:
        if value % 2 == 0:
            yield value
            
for v in get_even_values(2, 7, 16, 32, 33, 45, 57, 64):
    print(v)

2
16
32
64